* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: serif;
}

.header {
  height: 80px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  font-size: 32px;
  color: #333333;
}

.header h1:hover{
  text-decoration: underline;
}

.logo{
  padding: 20px;
  border-radius: 40px;
  background-color: pink;
  cursor: pointer;
}

.logo:hover{
  background-color: plum;
  padding: 20px 40px;
  transition: linear .5s;
}
.point{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header input {
  margin-left: 100px;
  width: 60px;
  height: 60px;
  border: 1px solid #cccccc;
  border-radius: 30px;
  padding-left: 20px;
  font-size: large;
}

.header input:hover{
  width: 300px;
  transition: all 2s;
}

.header input:focus{
  outline: none;
}

.main {
  display: flex;
  height: calc(100vh - 120px);
}

.sidebar {
  width: 200px;
  background-color: #eeeeee;
  overflow-y: auto;
  
}

.sidebar ul {
  list-style: none;
}
  
.sidebar li {
  height: 40px;
  line-height: 40px;
  text-align: center;
}

.sidebar li:hover {
  background-color: #dddddd;
}

.sidebar li.active {
  background-color: #333333;
  color: #ffffff;
}

.content {
  width: calc(100% - 200px);
  overflow-y: auto;
}

.post {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
}

.post h2 {
  font-size: 24px;
}

.post p {
  font-size: 16px;
}

.post a {
  text-decoration: none;
  color: #333333;
  font-weight: 900;
}

.post a:hover{
  text-decoration: underline;
}

.full-content {
  margin-top: 10px;
  padding: 10px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
  
}

.no-result {
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  padding: 10px;
  
}

.footer {
  height: 40px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
}
  
.footer p {
  margin-left: 20px;
}
