*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    list-style: none;
}
.leader{    /*设置主ul容器样式*/
    margin: 100px auto;
    width: fit-content;
    height: 50px;
    background-color: gray;
}
.follower{    /*这里设置主li，即下拉项的样式*/
    float: left;    /*使li排成一列*/
    width: 160px;
    height: 50px;    /*这里不但设置了主ul中每一个li的宽和高，也使下面的下拉菜单及子项的样式形同*/
    text-align: center;
    line-height: 50px;    /*文字显示的行高*/
}
.follower a:hover{
    background-color: tomato;    /*点击主li块变色*/
    transition: .5s;
    transform: scale(1.1);
}
.follower a{
    color: #000;    /*超链接颜色变黑*/
    display: block;    /*follower下的a都以块显示，无需多次设置*/
}
.subleader{
    display: none;    /*使下拉菜单不显示，这里直接设置次级ul便可*/
    background-color: gray;
    /* box-shadow: 0 0 2px 2px; */
}
.follower:hover .subleader{
    display: block;    /*使下拉菜单显示*/
}
.subfollower{
    border-top: 1px solid #000;    /*使下拉菜单菜单项有分隔的感觉*/
    height: 50px;
}
.subfollower:hover{
    background-color: yellowgreen;    /*使下拉菜单项点击时块变色*/
    transition: .5s;
}
.lastcont{
    position: relative;
    left: 160px;
    top: -50px;    /*对父元素开启相对定位，left使不会混在父元素subfollower里，top使他和父元素对其，-50表示向上*/
    background-color: gray;
    display: none;    /*使下拉菜单不显示，这里直接设置次级ul便可*/
    box-shadow: 0 0 2px 2px;
}
.subfollower:hover .lastcont{
    display: block;    /*使下拉菜单显示*/
}
.last{
    border-top: 1px solid #000;
}
.last:hover{
    background-color: #fff;    /*使二级下拉菜单项点击时块变色*/
    transition: .5s;
}
.box{
    height: 100px;
    width: 100px;
    background-color: aqua;
    margin: -100px auto;/*让盒子与下拉项中间无空隙并且居中*/
}
