*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    text-align: center;
}
.shell{
    margin: 100px auto 0;
    display: flex;
    justify-content: center;
}
.leader{
    background-color: #478;
    width: 180px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;
    transition: .5s;
    cursor: pointer;
}
.leader:hover{
    background-color: orange;
}
.leader li:hover{
    background-color: yellowgreen;
}
.leader ul li{
    height: 0;
    transition: .2s;
    opacity: 0;
    background-color: green;
}
.leader:hover li{
    height: 60px;
    opacity: 1;
}
.box{
    margin: auto;
    height: 100px;
    width: 100px;
    background-color: yellow;
    justify-content: center;
}